<div class="table-container">
  <h2 class="table-title">Tasks List</h2>
  <table class="table">
      <thead>
          <tr>
              <th>Id</th>
              <th>Content</th>
              <th>Date Created</th> 
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let task of tasks; let i = index">
              <td>{{ task.id }}</td>
              <td>{{ task.content }}</td>
              <td>{{ task.date_created | date:'short' }}</td> 
              <td class="actions">
                  <button class="btn-update" (click)="startUpdate(task)">Update</button>
                  <button class="btn-remove" (click)="deleteTask(task.id)">Remove</button>
              </td>
          </tr>
      </tbody>
  </table>

  <div class="input-container">
      <input type="text" placeholder="Enter new task content" [(ngModel)]="newTaskContent" class="task-input">
      <button class="btn-add" (click)="addTask()">Add</button>
  </div>

  
  <div *ngIf="taskToUpdate" class="update-container">
      <h3>Update Task</h3>
      <input type="text" [(ngModel)]="taskToUpdate.content" class="task-input">
      <button class="btn-update" (click)="updateTask()">Save</button>
  </div>
</div>
